body {
    font-size: 1.3em;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #646464;
}

.palindrome-form {
    display: inline-block;
    text-align: left; 
    padding: 10px;
    border: #a9a9a9 solid 1px;
    background: #d3d3d3;
}

.palindrome-textarea {
    font-family: inherit;
    font-size: inherit;
    color: #646464;
    min-width: 250px;
    min-height: 23px;
}

.palindrome-textarea::placeholder {
    color: #c8c8c8;
}

.palindrome-textarea:focus {
    outline: none;
}

.palindrome-result {
    text-align: center;
    margin-top: 5px;
    border: #a9a9a9 solid 1px;
    background: #ffffff;
}
/*
@media screen and (max-width: 480px) {
    .palindrome-form {
        font-size: 1.7em;
    }    
}*/

